
a {
	color: #232752;
	text-decoration: none;
}

button {
	background-color: #ffffff;
	border: 2px solid #7867EA;
	color: #7867EA;
	float: right;
	font-size: 1.1em;
	margin: 5vh 15vw 0 0;
	padding: .5vh 5vw .5vh 5vw;
}

	html, body {
	color: #232752;
  height: 100%;
  margin: 0;
  padding: 0;
}

input:focus { 
  border-color: #7867EA;
  outline-color: #7867EA; 
}

.text-box {
	height: 3vh;
	width: 80%;
}

.text-box.login {
	margin: 0 0 0 10vw;
}

/*.background {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  padding: 0;
  top: 0;
  width: 100%; 
}*/

	#bottom-nav-bar {
		background-color: #ffffff;
		border-color: #A0A0A0;
	  border-style: solid;
	  border-width: .2px;
	  bottom:0;
	  position: fixed;
	  left:0;
	}

	.bottom-nav-bar-item {
		float: left;
		height: 5vh;
		margin: auto;
		text-align: center;
		width: 25%;
	}

	.bottom-nav-link {

		bottom: 0;
	}

	.bottom-nav-selected {
		background-color: #F5A623;
		height: .5vh;
		width: 100%;
	}

	.button-count-all {
		display: inline-block;
		margin: 0 0 0 4vw;
	}

	.button-count {
		background-color: #FF004D;
		color: #ffffff;
		float: left;
		height: 4vh;
		margin: 2vh 0 2vh 0;
		text-align: center;
    width: 18%;
	}

	.button-count.minus {
		border-radius: 20px 0 0 20px;
		cursor: pointer;
	}

	.button-count.plus {
		border-radius: 0 20px 20px 0;
		cursor: pointer;
	}

	.button-count.value {
		background-color: #D3EDFF;
		color:#000000;
	}

	.button-save {
	background-color: #7867EA;
	color: #ffffff;
	float: left;
	margin: 5vh 0 0 15vw;
}

	#button-create-account {
		background-color: #FF004D;
		border: 2px solid #ffffff;
		border-radius: 30%;
		color: #ffffff;
		padding: 1.5vh 15vw 1.5vh 15vw;
    -webkit-transition: height 3s; /* For Safari 3.1 to 6.0 */
    transition: height 3s;
	}

	#button-preparation-count {
		background-color: #2962FF;
		color: #ffffff;
		text-transform: uppercase;
	}


	[class*="col-"] {
	  width: 100%;
	  display: inline-block;
	  float: left; 
	}



	.card {
		box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 6px 0 rgba(0,0,0,0.66);
	  border-radius: 5px;
	  cursor: pointer;
	  text-align: center;
	  height: 100px;
	  width: 40%;	
	  position: relative;	
    -webkit-transition: width .3s, height .3s; /* For Safari 3.1 to 6.0 */
    transition: width .3s, height .3s;
	}

	.card.left {
		float: left;
		margin:	1.5vh 0 1.5vh 8.5vw;
	}

	.card.right {
		float: right;
		margin:	1.5vh 8.5vw 1.5vh 0;
	}

	#card-image {
		width: 80%;
	}

	#card-image-container {
		float:left;
		width: 40%;
	}

	#card-message {
		float:left;
		font-size: .9em;
		text-align: left;
		width: 60%;
	}

	.card-sub-item {
		float: left;
		margin: 3vh 0 0 10vw;
	}


	.card-text {
		padding: 3vh 5vw 5vh 5vw;
	}

	#card-top-container {
		height: 10vh;
		margin: 0 0 10vh 0;
	}

	.card-transform {
		background: #ffffff;
		/*height: 90vh;*/
		margin: 5vh 0 0 5vw;
    width: 83%;
    /*position: fixed;*/
    z-index: 1;
}

	.card-retransform {
		background: #ffffff;
		height: 100px;
		/*margin:	2.5vw 0 2.5vw 5vw;
    width: 40%;
    position: fixed;*/
    z-index: 1;
}

.checkbox-line {
	width: 80%;
}

.checkbox-container {
    display: block;
    position: relative;
    margin: 0 0 2vh 10vw;
    cursor: pointer;
    float: left;
    font-size: 22px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container.sole-item {
	margin: 4vh 0 2vh 8vw;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #2C2F5F;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.checkbox-text {
	font-size: .8em;
	margin: 0 0 0 10vw;
}




#registration-close {
	cursor: pointer;
	text-align: right;
	width: 95%;
}

.registration-list {
  background: white;
  border-radius: 15px;
  font-size: 1.5em;
  margin: 2em .5em 0 .5em;
  height: 80%;
  width: 80%;
}













	.evacuation-plan-advice {
		color: #5a3eff;
		font-size: .6em;
		margin: 1vh 0 1vh 5vw;
		text-transform: uppercase;
	}

	.evacuation-plan {
		background-color: #ffffff;
		border-radius: 5px;
		display: block;
    margin: 40vh auto 32vh auto;
	  position: absolute;
	  width: 80%;
	  z-index: 1;
}

	.evacuation-plan.plan-1 {
	  margin-left: 10vw;
	}

	.evacuation-plan-building {
		color: #232752;
		font-size: 1.2em;
		margin: 1vh 0 1vh 5vw;
	}

	.evacuation-plan-item{
		color: #232752;
		font-size: .8em;
		margin: 1vh 0 1vh 5vw;
	}

	.evacuation-plan-risk {
		background-color: #FF004C;
		color: #ffffff;
	}

	.evacuation-plan-risk-text {
		color: #ffffff;
		font-size: .8em;
		margin: 1vh 0 1vh 10vw;
		padding: 1.2vh 0 1.2vh 0;
	}


.evac-plan-transform-active {
    -webkit-animation: diagonal .5s;
    animation: diagonal .5s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

.evacuation-transform-list-mode {
    -webkit-animation: evac_list_mode .4s;
    animation: evac_list_mode .4s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

.evacuation-transform-list-mode.card-2 {
    -webkit-animation: evac_list_mode_middle_card .4s;
    animation: evac_list_mode_middle_card .4s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

.evacuation-transform-list-mode.card-3 {
    -webkit-animation: evac_list_mode_third_card .4s;
    animation: evac_list_mode_third_card .4s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

.evacuation-transform-map-mode {
    -webkit-animation: evac_map_mode .4s;
    animation: evac_map_mode .4s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

.evacuation-transform-map-mode-middle-card-clicked {
    -webkit-animation: evac_map_mode_middle_card_clicked .4s;
    animation: evac_map_mode_middle_card_clicked .4s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

.evacuation-transform-map-mode-middle-card-clicked.card-2 {
    -webkit-animation: evac_map_mode_middle_card_middle_card_clicked .4s;
    animation: evac_map_mode_middle_card_middle_card_clicked .4s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

.evacuation-transform-map-mode-middle-card-clicked.card-3 {
    -webkit-animation: evac_map_mode_third_card_middle_card_clicked .4s;
    animation: evac_map_mode_third_card_middle_card_clicked .4s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

.evacuation-transform-map-mode.card-2 {
    -webkit-animation: evac_map_mode_middle_card .4s;
    animation: evac_map_mode_middle_card .4s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

.evacuation-transform-map-mode.card-3 {
    -webkit-animation: evac_map_mode_third_card .4s;
    animation: evac_map_mode_third_card .4s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

	.filter-item {
		  border-style: solid;
	    border-width: 2px;
	  border-radius: 25px;
		float: left;
		height:3.5vh;
		margin: .7vh 0 0 3vw;
		padding: 1vh 5vw 1vh 5vw;
	}

	#header {
		box-shadow: 0 3px 4px 0 rgba(0,0,0,0.10);
		display: inline-block;
	  font-size: 1.1em;
	  height: 8vh;
	  margin: 0 0 1vh 0;
	  width: 100%;	
	}

	#header-hamburger {
		float: left;
		height: 1.7vh;
		margin: 2.8vh 0 0 5vw;
	}

	#header-notification {
		float: right;
		height: 3vh;
		margin: 2.5vh 5vw 0 0;
	}

	#header-text {
		float: left;
		margin: 2.3vh 0 0 9vw;

	}

	input[type=checkbox] {
    -ms-transform: scale(3); 
    -moz-transform: scale(3); 
    -webkit-transform: scale(3); 
    -o-transform: scale(3); 
    transform: scale(3); 
  }

  #iphone-screen {
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	top: 0;
  	z-index: 1;
  }

  #login-dropdown-arrow {
  	float: right;
  	padding: 1.3vh 4vw 1.3vh 0;
  	width: 6%;
  }

  #login-dropdown-container {
		border-color: #A0A0A0;
	  border-style: solid;
	  border-width: .2px;
  	display: inline-block;
  	margin: 0 0 0 10vw;
  	width: 80%;
  }


	.login-dropdown-transform {
		height: 20vh;
		margin: 5vh 0 0 5vw;
	}

  .login-dropdown-text {
	  float: left;
	  padding: .5vh 0 .5vh 2vw;
	  width: 80%;
  }

  #login-greeting {
  	font-size: 1.2em;
  	margin: 10vh 0 0 10vw;
  }

  .login-instruction {
  	margin: 5vh 0 0 10vw;
  }

  .map-background {
  	height: 100%;
  	width: 100%;
  }

	#preparation-bar {
	  background-color: #f0f0f5;
	  border-radius: 25px;
	  height: 1.5vh;
	  margin: 1vh auto 1vh auto;
	  width: 100%;
	}

	.preparation-bar-card {
	  background-color: #f0f0f5;
	  border-radius: 25px;
	  bottom: 0;
	  height: 1vh;
	  position: absolute;
	  width: 100%;
	}

	#preparation-bar-inner {
	  background-color: #5E39FF;
	  border-radius: 25px;
	  height: 1.5vh;
	  width: 0%;
	}

#preparation-bar-percentage {
	font-size: 1.1em;
	margin: 1vh 0 0 0;
}

	.preparation-card-countdown {
	  display: none;
	}

	#preparation-cards-body {
		margin: 0 0 10vh 0;
	}

	#preparation-count-popup {
		background-color: #ffffff;
		border-radius: 3%;
		height: 60vh;
		margin: 30vh auto 0 auto;
		width: 80%;
	}

	.preparation-count-popup-text {
		float: left;
		margin: 2.5vh 8vw 0 0;
	}

	#preparation-header {
		display: inline-block;
	}

	#preparation-image {
		float: left;
		width: 45%;
	}


.preparation-info-background {
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  padding: 0;
  top: 0;
  width: 100%; 
}


	#preparation-info-card {
		background-color: #ffffff;
		border-radius: 3%;
		font-size: 1.4em;
		height: 30vh;
		margin: 30vh auto 0 auto;
		padding: 5vh 0 0 10vw;
		width: 80%;
		z-index: 1;	
	}

	#preparation-info-container {
		display: inline-block;
	}

	.preparation-info-icon {
		float: right;
		margin: 0 5vw 0 0;
		width: 6%;
	}

	#preparation-info-image {
		float: left;
		margin: 2vh 0 0 0;
		width: 50%;
	}

	#preparation-info-math {
		float: left;
	}

.preparation-list-background {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  padding: 0;
  top: 0;
  width: 100%; 
}

.preparation-list {
  background: white;
  border-radius: 15px;
  font-size: 1.5em;
  margin: 2em .5em 0 .5em;
  height: 80%;
  width: 80%;
}

#preparation-score {
	float: left;
	margin: 10vh 0 0 0;
	width: 50%;
}

#prep-list-1-close {
	cursor: pointer;
}

#reg-card-7 {
	display: none;
	opacity: 0;
}

#registration-cards-body {
	margin: 0 0 10vh 0;
}

.registration-florida-health {
	float: left;
	height: 15vh;
	padding: 1vh 0 9vh 3vw;
}

#registration-guarantee {
	float: left;
	padding: 1vh 1vw 3vh 3vw;
	width:60%;
	padding: 1vh 0 8vh 3vw;
}








#registration-message {
	background-color: #ffffff;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.10);
	position: relative;
	width: 100%;
}

#registration-ok-button {
	color: #2962FF;
	float: right;
}

.registration-welcome-image {
	display: block;
	margin: 0 auto 0 auto;
	width: 50%;
}


#registration-welcome-message {
	background-color: #ffffff;
	border-radius: 3%;
	height: 60vh;
	margin: 30vh auto 0 auto;
	width: 80%;
}

.registration-welcome-text {
	margin: 0 0 0 10vw;
}

#registration-welcome-title {
	color: #2962FF;
	font-size: 1.1em;
}

.registration-welcome.step {
	color: #2962FF;
}

#share-button {
	height: 60px;
  width: 60px;
}


#share-form {
  margin: 33vh 0 0 70vw;
  position: absolute;
  /*z-index: 2;*/
}


#status-bar {
	width: 100%;
}


#toggle {
		background-color: #232752;
		border-radius: 50px;
	  height: 5%;
	  margin: 5% 0 0 17%;
	  position: absolute;
	  width: 60%;
}

#toggle-bar {
		background-color: #ffffff;
		border-radius: 50px;
	  height: 100%;
	  position: absolute;
	  width: 50%;
}

.toggle-item {
	color: #ffffff;
	display: block;
	float: left;
	font-size: .8em;
	margin: 2% 10% 0 5%;
	position: relative;
	z-index: 1;
}

.toggle-item.left {
	color: #232752;
}


.toggle-item.right {
	float: right;
}

.subtitle {
	font-size: 1.1em;
	margin: 6vh 0 0 8.5vw;
}

#swipe-area {
  	display: flex;
  	position: fixed;
  	height: 60%;
  	margin: 40% 0 0 0;
  	width: 100%;
}

#swipezone{
  width: 80%;
  height: 50vh;
}


@-webkit-keyframes evac_map_mode {
  42% { -webkit-transform: translate(-24.7px, -162.3px) ; }
  37% { -webkit-transform: translate(-20.4px, -189.1px) ; }
  26% { -webkit-transform: translate(-13.4px, -217.5px) ; }
  13% { -webkit-transform: translate(-3.5px, -247.8px) ; }
  0% { -webkit-transform: translate(0px, -315.0px) ; }
}

@-webkit-keyframes evac_map_mode_middle_card_clicked {
  0.0000% { -webkit-transform: translate(0.0px, -150.0px) ; }
  12.2245% { -webkit-transform: translate(0.3px, -104.9px) ; }
  22.6056% { -webkit-transform: translate(-2.4px, -66.7px) ; }
  33.2634% { -webkit-transform: translate(-10.9px, -28.3px) ; }
  38.6271% { -webkit-transform: translate(-18.2px, -9.9px) ; }
  44.0415% { -webkit-transform: translate(-28.1px, -5.5px) ; }
  49.5918% { -webkit-transform: translate(-40.9px, -3.5px) ; }
  55.4161% { -webkit-transform: translate(-57.0px, 0.7px) ; }
  61.6985% { -webkit-transform: translate(-76.7px, 5.9px) ; }
  71.4708% { -webkit-transform: translate(-110.4px, 7.7px) ; }
  79.7145% { -webkit-transform: translate(-140.3px, 10.5px) ; }
  89.1557% { -webkit-transform: translate(-175.0px, 13.1px) ; }
  100.0000% { -webkit-transform: translate(-375.0px, 17.0px) ; }
}

@-webkit-keyframes evac_map_mode_middle_card {
  50% { -webkit-transform: translate(-220.0px, 26.0px) ; }
  44% { -webkit-transform: translate(-230.4px, 0.5px) ; }
  33% { -webkit-transform: translate(-250.0px, -30.8px) ; }
  6% { -webkit-transform: translate(-280.7px, -68.5px) ; }
  0% { -webkit-transform: translate(-305.0px, -153.0px) ; }
}


@-webkit-keyframes evac_map_mode_middle_card_middle_card_clicked {
  0.0000% { -webkit-transform: translate(-357.0px, -150.0px) ; }
  100.0000% { -webkit-transform: translate(-357.0px, 16.0px) ; }
}

@-webkit-keyframes evac_map_mode_third_card {
  68% { -webkit-transform: translate(-432.9px, 72.9px) ; }
  54% { -webkit-transform: translate(-500.8px, 61.5px) ; }
  39% { -webkit-transform: translate(-530.9px, 47.0px) ; }
  11% { -webkit-transform: translate(-550.5px, 29.0px) ; }
  0% { -webkit-transform: translate(-610.0px, 10.0px) ; }
}

@-webkit-keyframes evac_map_mode_third_card_middle_card_clicked {
  0.0000% { -webkit-transform: translate(-745px, 17.0px) ; }
  12.2245% { -webkit-transform: translate(-645px, 17.0px) ; }
  22.6056% { -webkit-transform: translate(-645px, 17.0px) ; }
  33.2634% { -webkit-transform: translate(-645px, 17.0px) ; }
  38.6271% { -webkit-transform: translate(-645px, 17.0px) ; }
  44.0415% { -webkit-transform: translate(-645px, 17.0px) ; }
  49.5918% { -webkit-transform: translate(-645px, 17.0px) ; }
  55.4161% { -webkit-transform: translate(-645px, 17.0px) ; }
  61.6985% { -webkit-transform: translate(-455.0px, 17.0px) ; }
  71.4708% { -webkit-transform: translate(-505.0px, 17.0px) ; }
  79.7145% { -webkit-transform: translate(-445.0px, 17.0px) ; }
  89.1557% { -webkit-transform: translate(-405.0px, 16.0px) ; }
  100.0000% { -webkit-transform: translate(-345.0px, 17.0px) ; }
}

@-webkit-keyframes evac_list_mode {
  0% { -webkit-transform: translate(100vw, 40vh) ; }
  14% { -webkit-transform: translate(48.6px, 44.2px) ; }
  26% { -webkit-transform: translate(16.3px, -0.7px) ; }
  37% { -webkit-transform: translate(-7.4px, -44.6px) ; }
  42% { -webkit-transform: translate(-15.8px, -66.8px) ; }
  48% { -webkit-transform: translate(-21.8px, -89.4px) ; }
  53% { -webkit-transform: translate(-25.3px, -112.7px) ; }
  58% { -webkit-transform: translate(-26.3px, -136.9px) ; }
  64% { -webkit-transform: translate(-24.7px, -162.3px) ; }
  70% { -webkit-transform: translate(-20.4px, -189.1px) ; }
  76% { -webkit-transform: translate(-13.4px, -217.5px) ; }
  84% { -webkit-transform: translate(-3.5px, -247.8px) ; }
  100% { -webkit-transform: translate(0vw, -50vh) ; }
}


@-webkit-keyframes evac_list_mode_middle_card {
  0% { -webkit-transform: translate(89.0px, 92.0px) ; }
  7% { -webkit-transform: translate(56.8px, 90.9px) ; }
  33% { -webkit-transform: translate(-67.3px, 91.8px) ; }
  45% { -webkit-transform: translate(-122.2px, 87.5px) ; }
  50% { -webkit-transform: translate(-146.9px, 82.1px) ; }
  55% { -webkit-transform: translate(-169.3px, 73.9px) ; }
  59% { -webkit-transform: translate(-189.1px, 62.2px) ; }
  65% { -webkit-transform: translate(-206.1px, 46.4px) ; }
  70% { -webkit-transform: translate(-220.0px, 26.0px) ; }
  76% { -webkit-transform: translate(-230.4px, 0.5px) ; }
  83% { -webkit-transform: translate(-250.0px, -30.8px) ; }
  91% { -webkit-transform: translate(-280.7px, -68.5px) ; }
  100% { -webkit-transform: translate(-81vw, -25vh) ; }
}


@-webkit-keyframes evac_list_mode_third_card {
  0% { -webkit-transform: translate(89.0px, 92.0px) ; }
  11% { -webkit-transform: translate(16.0px, 90.7px) ; }
  40% { -webkit-transform: translate(-169.1px, 94.7px) ; }
  55% { -webkit-transform: translate(-263.7px, 93.9px) ; }
  69% { -webkit-transform: translate(-353.6px, 87.6px) ; }
  75% { -webkit-transform: translate(-394.9px, 81.5px) ; }
  81% { -webkit-transform: translate(-432.9px, 72.9px) ; }
  87% { -webkit-transform: translate(-500.8px, 61.5px) ; }
  92% { -webkit-transform: translate(-530.9px, 47.0px) ; }
  97% { -webkit-transform: translate(-550.5px, 29.0px) ; }
  100% { -webkit-transform: translate(-162vw, 3vh) ; }
}




	 /*For Mobile*/
@media only screen and (max-width: 767px) {

	body {
	  font-family: 'Helvetica';
	  font-size: 1.1em;
	  margin: 0;
	 }


}

/* For desktop: */
@media only screen and (min-width: 850px) {

  .col-1 {
    width: 8.33%; 
	}

  .col-2 {
    width: 16.66%; 
	}

  .col-3 {
    width: 25%; 
	}

  .col-4 {
    width: 33.33%; 
	}

  .col-5 {
    width: 41.66%; 
	}

  .col-6 {
    width: 50%; 
  }

  .col-7 {
    width: 58.33%; 
  }

  .col-8 {
    width: 66.66%; 
  }

  .col-9 {
    width: 75%; 
  }

  .col-10 {
    width: 83.33%; 
  }

  .col-11 {
    width: 91.66%; 
  }

  .col-12 {
    width: 100%; 
  }

  .offset-1 {
    margin-left: 8.33%; 
  }

  .offset-2 {
    margin-left: 16.67%; 
  }

  .offset-3 {
    margin-left: 25%; 
  }

  .offset-4 {
    margin-left: 33.33%; 
  }

  .offset-5 {
    margin-left: 41.67%; 
  }

  .offset-6 {
    margin-left: 50%; 
  }

  .offset-7 {
    margin-left: 58.33%; 
  }

  .offset-8 {
    margin-left: 66.67%; 
  }

  .offset-9 {
    margin-left: 75%; 
  }

  .offset-10 {
    margin-left: 83.33%; 
  }

  .offset-11 {
    margin-left: 91.67%; 
  }
}
