/*body {
  font-family: 'Roboto';
  margin: 0;
 }*/
       html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

	#bottom-nav-bar {
	  border-style: solid;
	    border-width: 2px;
	  bottom:0;
	  position: fixed;
	}

	.bottom-nav-bar-item {
		background-color: #ffffff;
		float: left;
		height: 5vh;
		text-align: center;
		text-transform: uppercase;
		width: 25%;
	}

	[class*="col-"] {
	  width: 100%;
	  display: inline-block;
	  float: left; 
	}

	/*.container {
  	display: flex;
  	position: fixed;
  	height: 50%;
  	width: 100%;
	}*/

	.evacuation-plan {
		background-color: white;
		border-style: solid;
	  border-width: 2px;
	  /*height: 30%;*/
	  height: 80%;
	  position: absolute;
	  width: 80%;
	  z-index: 1;
}

	.evacuation-plan.plan-1 {
	  margin: 20vh 20vw 20vh 20vw;
	}

	.evacuation-plan.plan-2 {
	  margin: 20vh 20vw 20vh 900px;
	}

	.evacuation-plan.plan-3 {
	  margin: 20vh 20vw 20vh 1780px;
	}

	.filter-item {
		  border-style: solid;
	    border-width: 2px;
	  border-radius: 25px;
		float: left;
		height:3.5vh;
		margin: .7vh 0 0 3vw;
		padding: 1vh 5vw 1vh 5vw;
	}

	#header {
		  border-style: solid;
	    border-width: 2px;
	    font-size: 1.2em;
	  height: 10vh;
	  margin: 0 0 1vh 0;
	  width: 100%;	
	}

	input[type=checkbox] {
    -ms-transform: scale(3); 
    -moz-transform: scale(3); 
    -webkit-transform: scale(3); 
    -o-transform: scale(3); 
    transform: scale(3); 
  }

  /*#map {
  	height: 50%;
  	width: 50%;
  }*/

  .map-background {
  	height: 100%;
  	width: 100%;
  }

	#preparation-bar {
	  background-color: #f0f0f5;
	  border-radius: 25px;
	  height: 4.5vh;
	  margin: 2.5vh auto 2.5vh auto;
	  width: 80%;
	}

	#preparation-bar-inner {
	  background-color: #000000;
	  border-radius: 25px;
	  height: 4.5vh;
	  width: 0%;
	}

	.preparation-card {
	  /*border-style: solid;
	    border-width: 2px;*/
	  border-radius: 5px;
	  background-color: #f0f0f5;
	  cursor: pointer;
	  float: left;
	  /*height: 18vh;*/
	  margin:	2.5vw 0 2.5vw 5vw;
	  text-align: center;
	  width: 40%;	
	  position: relative;
	}

	#preparation-cards-body {
	  border-style: solid;
	    border-width: 2px;
	    width: 100%;

	  margin: 2vh 0 2vh 0;
	}

	.preparation-card-countdown {
		bottom:0;
		font-size: .8em;
	  margin: 0 0 2% 60%;
	  position: absolute;
	}

	.preparation-card-text {
		padding: 0 5vw 5vh 5vw;
	}

	.preparation-card-why {
		background-color: #b3b3cc;
	  border-radius: 50%;
	  height: 4vh;
	  margin: 2% 0 0 75%;
	  width: 4vh;
	}

	/*.preparation-card-line {
		  border-style: solid;
	    border-width: 2px;

	    height: 60px;
	    width: 90%;
	}*/

.preparation-list-background {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  padding: 0;
  top: 0;
  width: 100%; 
}

.preparation-list {
  background: white;
  border-radius: 15px;
  font-size: 1.5em;
  margin: 2em .5em 0 .5em;
  height: 80%;
  width: 80%;
}

#prep-list-1-close {
	cursor: pointer;
}

	.subtitle {
		font-size: 1.3em;
		margin: 0 0 0 3vw;
	}

#swipe-area {
  	display: flex;
  	position: fixed;
  	height: 60%;
  	width: 100%;
	/*overflow:hidden;*/
}

#swipezone{
  width: 80%;
  height: 50vh;
  /*text-align: center;
  background: #000;
  color: #fff;
  cursor: pointer;
  font-size: 30px;*/
}








/*.container {
  background: yellow;
  padding-top: 50px;
  width: 100vw; height: 200px;
  overflow: hidden;
  position: relative;
}

.people-card-media {
  position: absolute; bottom: 10px; left: 110vw;
  transition: 0.5s ease-out;

  box-sizing: border-box;
  width: 90vw; height: 90px;
  padding: 15px 10px;
  border-bottom: 1px solid #dcdcdc;
  overflow: hidden;
  background: lightgray;
}

.people-card-media.current {
  left: 0;
  transition: 0.5s ease-out;
}

.people-card-media.next-up {
  left: 90vw;
  transition: 0.5s ease-out;
}

.people-card-media.previous {
  left: -100vw;
  transition: 0.5s ease-out;
}

.people-card-media .flex-it-align-top {
  display: flex;
  justify-content: space-between;
}
.people-card-media .media-body {
  width: 100%;
}
.people-card-media .media-left {
  width: 80px;
}
.people-card-media .media-right {
  width: 90px;
}
.people-card-media .people_name_title .title {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 0px;
}
.people-card-media .people_name_title .list__subtitle {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0px;
}
.people-card-media .people_name_title .list__sub_subtitle {
  font-size: 12px;
  margin-bottom: 0px;
}
.people-card-media .media-right .status {
  font-size: 14px;
  margin-bottom: 0px;
  color: #5cb85c;
}
.people-card-media .media-right .time-into {
  font-size: 12px;
  margin-bottom: 0px;
}*/






















	 /*For Mobile*/
@media only screen and (max-width: 767px) {

	body {
	  font-family: 'Roboto';
	  font-size: 1.2em;
	  margin: 0;
	 }
}

/* For desktop: */
@media only screen and (min-width: 850px) {

  .col-1 {
    width: 8.33%; 
	}

  .col-2 {
    width: 16.66%; 
	}

  .col-3 {
    width: 25%; 
	}

  .col-4 {
    width: 33.33%; 
	}

  .col-5 {
    width: 41.66%; 
	}

  .col-6 {
    width: 50%; 
  }

  .col-7 {
    width: 58.33%; 
  }

  .col-8 {
    width: 66.66%; 
  }

  .col-9 {
    width: 75%; 
  }

  .col-10 {
    width: 83.33%; 
  }

  .col-11 {
    width: 91.66%; 
  }

  .col-12 {
    width: 100%; 
  }

  .offset-1 {
    margin-left: 8.33%; 
  }

  .offset-2 {
    margin-left: 16.67%; 
  }

  .offset-3 {
    margin-left: 25%; 
  }

  .offset-4 {
    margin-left: 33.33%; 
  }

  .offset-5 {
    margin-left: 41.67%; 
  }

  .offset-6 {
    margin-left: 50%; 
  }

  .offset-7 {
    margin-left: 58.33%; 
  }

  .offset-8 {
    margin-left: 66.67%; 
  }

  .offset-9 {
    margin-left: 75%; 
  }

  .offset-10 {
    margin-left: 83.33%; 
  }

  .offset-11 {
    margin-left: 91.67%; 
  }
}
