
a {
	color: #232752;
	text-decoration: none;
}

button {
	background-color: #ffffff;
	border: 2px solid #2962FF;
	border-radius: 2px;
	color: #2962FF;
	float: right;
	font-size: .875em;
  font-family: San Francisco Text, Helvetica, sans-serif;
  font-weight: 500;
	margin: 5vh 15vw 0 0;
	padding: .5vh 5vw .5vh 5vw;
	text-transform: uppercase;
}

html, body, h1, h2, h3, h4, p, div, a {
	color: #232752;
    padding:0;
    border:0;
    margin:0;
    list-style-type: none;
    font:inherit;
    font-size: 100%;
    font-family: San Francisco Text, Helvetica, sans-serif;
}

hr {
	border-color: #232752;
}

input:focus { 
  border-color: #7867EA;
  outline-color: #7867EA; 
}

li {
	margin: 0 0 1vh 0;
}

.text-box {
	border-width: 0 0 1px 0;
	border-color: #232752;
	height: 3vh;
	width: 80%;
}

.text-box.login {
	margin: 0 0 0 10vw;
}

/*.background {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  padding: 0;
  top: 0;
  width: 100%; 
}*/

	#bottom-nav-bar {
		background-color: #ffffff;
		border-color: #A0A0A0;
    box-shadow: 0 0px 4px 0.5px #00289657;
	  bottom:0;
	  position: fixed;
	  left:0;
	  width: 100%;
	}

	.bottom-nav-bar-item {
		float: left;
		height: 5vh;
		margin: auto;
		padding: 1vh 0 0 0;
		text-align: center;
		width: 25%;
	}

	/*.bottom-nav-link {

		bottom: 0;
	}*/

	.bottom-nav-selected {
		background-color: #2962FF;
		height: .5vh;
		width: 25%;
	}

	#button-call-maria {
		width: 90%;
		margin: 1vh 4vw 3vh 0;
	}

	#button-close-info-card {
		float: right;
    margin: 0 5vw 0 0;
	}

	.button-count-all {
		display: inline-block;
		margin: 0 0 0 4vw;
	}

	.button-count {
		background-color: #FF004D;
		color: #ffffff;
		float: left;
		height: 4vh;
		margin: 2vh 0 2vh 0;
		text-align: center;
    width: 25%;
	}

	.button-count.minus {
		border-radius: 20px 0 0 20px;
		cursor: pointer;
	}

	.button-count.plus {
		border-radius: 0 20px 20px 0;
		cursor: pointer;
	}

	.button-count.value {
		background-color: #D3EDFF;
		color:#000000;
	}

	.button-count-combined {
		float: right;
		line-height: 4vh;
	}

	#button-get-directions {
		background-color: #2962FF;
		color:#ffffff;	
		width: 90%;
		margin: 1vh 4vw 3vh 0;	
	}

	.button-go {
		background-color: #2962FF;
		color:#ffffff;
		float: left;
		margin: 1vh 0 0 0;
		padding: .5vh 2vw .5vh 2vw;
    font-weight: 500;
	}

	.button-save {
		background-color: #2962FF;
		color: #ffffff;
		float: left;
		margin: 5vh 0 0 22vw;
}

	.button-clear {
		margin: 5vh 22vw 0 0;
	}

.button-evacuation {
	float: left;
	font-size: .75em;
	font-weight: 500;
	margin: .5vh 0 .5vh 5vw;
	width: 87%;
	font-family: San Francisco Text;
}

.button-evacuation.emergency-call {
	margin: .5vh 0 1.5vh 5vw;
	}

.button-evacuation.stay-safe {
	background-color: #2962FF;
	color:#ffffff;
	margin: 2.5vh 0 .5vh 5vw;
}

	#button-create-account {
		background-color: #FF004D;
		border: 2px solid #ffffff;
		border-radius: 25px;
		color: #ffffff;
		font-weight: 300;
		padding: 1.5vh 15vw 1.5vh 15vw;
    -webkit-transition: height 3s; /* For Safari 3.1 to 6.0 */
    transition: height 3s;
	}

	#button-preparation-count {
		background-color: #2962FF;
		color: #ffffff;
		margin: 2vh 6vw 0 0;
		padding: 1.5vh 0 1vh 0;
		width: 85%
	}


	[class*="col-"] {
	  width: 100%;
	  display: inline-block;
	  float: left; 
	}



	.card {
		box-shadow: 0 0 2px 0 rgba(0,49,107,0.33), 0 2px 6px 0 rgba(0,49,107,0.33);
	  border-radius: 4px;
	  cursor: pointer;
	  text-align: center;
	  height: 100px;
	  width: 46%;	
	  position: relative;	
    -webkit-transition: width .3s, height .3s; /* For Safari 3.1 to 6.0 */
    transition: width .4s, height .4s;
	}

	.card.left {
		float: left;
		margin:	1.5vh 0 1.5vh 2.5vw;
	}

	.card.right {
		float: right;
		margin:	1.5vh 2.5vw 1.5vh 0;
	}

	#card-checked-message {
color: #FF004D;
float: right;
margin: 0 10vw 5vh 100vw;
padding: 0 20vw 0 0;
	}

	#card-close {
		position: absolute;
	}

	#card-image {
		width: 80%;
	}

	#card-image-container {
		float:left;
		width: 40%;
	}

	#card-message {
		float:left;
		font-size: .9em;
		margin: 3vh 0 0 0;
		text-align: left;
		width: 56%;
	}

	.card-sub-item {
		float: left;
		margin: 3vh 0 0 10vw;
	}


	.card-text {
		padding: 3vh 5vw 4vh 5vw;
        /*want the text to transform to the properties below*/
/*        font-size:1.25em;*/
/*        text-align: left;*/
	}

	#card-top-container {
		height: 10vh;
		/*margin: 0 0 10vh 0;*/
		margin: 0 0 7vh 0;
	}

	#card-top-container-registration {
		height: 5vh;
	}

	.card-transform {
		background: #ffffff;
		margin: 5vh 0 0 5vw;
    width: 94.5%;
    z-index: 1;
}

	.card-retransform {
		background: #ffffff;
		height: 100px;
    z-index: 1;
}

.checkbox-line {
	width: 80%;
}

.checkbox-container {
    display: block;
    position: relative;
    margin: 0 0 4vh 10vw;
    cursor: pointer;
    float: left;
    font-size: 22px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container.sole-item {
	margin: 4vh 0 2vh 8vw;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #2C2F5F;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.checkbox-text {
	font-size: .8em;
	margin: 0 0 0 10vw;
}




#registration-close {
	cursor: pointer;
	text-align: right;
	width: 95%;
}

.registration-list {
  background: white;
  border-radius: 15px;
  font-size: 1.5em;
  margin: 2em .5em 0 .5em;
  height: 80%;
  width: 80%;
}







#evacuation-background {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  position: fixed;
  padding: 0;
  top: 0;
  width: 100%; 
}

#evacuation-best-plan-image {
	float: left;
	margin: 2vh 0 1vh 5vw;
	width: 5%;
}





	.evacuation-plan-advice {
		color: #2962FF;
		font-size: .75em;
		font-weight: 600;
		margin: 2.5vh 0 1vh 5vw;
		text-transform: uppercase;
	}

	.evacuation-plan-advice.best {
		float: left;
		margin: 2.5vh 0 1vh 2vw;
	}

	.evacuation-plan-advice.not-recommended {
		color: #FF004D;
	}

	.evacuation-plan {
		background-color: #ffffff;
		border-radius: 5px;
		display: block;
    margin: 40vh auto 32vh auto;
	  position: absolute;
	  width: 90%;
	  /*width: 75%;*/
	  z-index: 1;
}

	.evacuation-plan.plan-1 {
	  margin-left: 5vw;
	  width: 90%;
	}

	.evacuation-plan.plan-2 {
	  margin-left: 15vw;
	}

	.evacuation-plan.plan-3 {
	  margin-left: 15vw;
	}

	.evacuation-plan-building {
        color: #232752;
        font-size: 1.25em;
        font-weight: 400;
        margin: 1.5vh 0 1vh 5vw;
	}

	.evacuation-plan-item{
		color: #232752;
		font-size: .9em;
		font-weight: 400;
    margin: 0.5vh 0 0 5vw;
	}

	.evacuation-plan-item.distance{
		float: left;
		margin: 2vh -2vw 2vh 5vw;
	}

	.evacuation-plan-item.utilities{
		padding: 0 0 2vh 0;
	}

	.evacuation-plan-risk {
		background-color: #FF004C;
		color: #ffffff;
	}

	.evacuation-plan-risk-text {
    color: #ffffff;
    font-size: .95em;
    font-weight: 300;
    margin: 1vh 0 1vh 13vw;
    padding: 1.2vh 0 1.2vh 0;
	}

	#evacuation-popup-title {
		font-size: .9em;
		margin: 0 0 0 4vw;
		padding: 3vh 0 0 0;
		text-transform: uppercase;		
	}

	#evacuation-second-view {
		visibility: hidden;
	}


.evac-plan-transform-active {
    -webkit-animation: diagonal .5s;
    animation: diagonal .5s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

.evacuation-transform-list-mode {
		height: 200px; 
		position: relative;
    -webkit-animation: evac_list_mode .4s;
    animation: evac_list_mode .4s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

.evacuation-transform-list-mode.card-2 {
    -webkit-animation: evac_list_mode_middle_card .4s;
    animation: evac_list_mode_middle_card .4s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

.evacuation-transform-list-mode.card-3 {
    -webkit-animation: evac_list_mode_third_card .4s;
    animation: evac_list_mode_third_card .4s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

.evacuation-transform-map-mode {
    -webkit-animation: evac_map_mode .4s;
    animation: evac_map_mode .4s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

.evacuation-transform-map-mode-middle-card-clicked {
    -webkit-animation: evac_map_mode_middle_card_clicked .4s;
    animation: evac_map_mode_middle_card_clicked .4s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

.evacuation-transform-map-mode-middle-card-clicked.card-2 {
    -webkit-animation: evac_map_mode_middle_card_middle_card_clicked .4s;
    animation: evac_map_mode_middle_card_middle_card_clicked .4s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

.evacuation-transform-map-mode-middle-card-clicked.card-3 {
    -webkit-animation: evac_map_mode_third_card_middle_card_clicked .4s;
    animation: evac_map_mode_third_card_middle_card_clicked .4s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

.evacuation-transform-map-mode.card-2 {
    -webkit-animation: evac_map_mode_middle_card .4s;
    animation: evac_map_mode_middle_card .4s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

.evacuation-transform-map-mode.card-3 {
    -webkit-animation: evac_map_mode_third_card .4s;
    animation: evac_map_mode_third_card .4s;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(.1,1.01,.09,.93);
}

	.filter-item {
		  border-style: solid;
	    border-width: 2px;
	  border-radius: 25px;
		float: left;
		height:3.5vh;
		margin: .7vh 0 0 3vw;
		padding: 1vh 5vw 1vh 5vw;
	}

	#header {
		box-shadow: 0 3px 4px 0 rgba(0,0,0,0.10);
		display: inline-block;
	  font-size: 1.1em;
	  height: 8vh;
	  margin: 0 0 1vh 0;
	  width: 100%;	
	}

	#header-hamburger {
		float: left;
		height: 1.7vh;
		margin: 2.8vh 0 0 5vw;
	}

	#header-notification {
		float: right;
		height: 3vh;
		margin: 2.5vh 5vw 0 0;
	}

	#header-text {
		float: left;
		margin: 2.3vh 0 0 9vw;

	}

	.icon-evacuation {
		margin: 0 1vw 0 0;
		width: 10%;
	}

	.icon-evacuation.generator {
		width: 2.5%;
	}

	.icon-evacuation.nurse {
		margin: 0 1vw 0 3vw;
		width: 4%;
	}

	.icon-evacuation.pet {
		margin: 0 1vw 0 3vw;
		width: 4%;
	}

	.icon-no-electricity {
		float: left;
		margin: .8vh 0 0 4.5vw;
    width: 7%;
	}

	input[type=checkbox] {
    -ms-transform: scale(3); 
    -moz-transform: scale(3); 
    -webkit-transform: scale(3); 
    -o-transform: scale(3); 
    transform: scale(3); 
  }

  #iphone-screen {
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	top: 0;
  	z-index: 1;
  }


  .link-evacuation {
  	color: #2962FF;
  	text-decoration: underline;
  }

  #login-dropdown-arrow {
  	float: right;
  	padding: 1.3vh 4vw 1.3vh 0;
  	width: 6%;
  }

  #login-dropdown-container {
		border-color: #A0A0A0;
	  box-shadow: 0 0 2px 0 rgba(0,49,107,0.33), 0 2px 6px 0 rgba(0,49,107,0.33);
  	display: inline-block;
  	margin: 0 0 0 10vw;
  	width: 80%;
  }


	.login-dropdown-transform {
		height: 12vh;
		margin: 5vh 0 0 5vw;
	}

  .login-dropdown-text {
	  float: left;
	  padding: .5vh 0 .5vh 2vw;
	  width: 90%;
  }

  .login-dropdown-text.main {
	  width: 80%;
  }

  #login-greeting {
  	font-size: 1.7em;
  	margin: 10vh 0 0 10vw;
  }

  .login-instruction {
  	margin: 5vh 0 1vh 10vw;
  }

  .map-background {
  	height: 100%;
  	width: 100%;
  }


.plan-scroll {
	height: auto;
	overflow-y: auto;
}

	#preparation-bar {
	  background-color: #f0f0f5;
	  border-radius: 25px;
	  height: 1.5vh;
	  margin: 1vh auto 1vh auto;
	  width: 100%;
	}

	.preparation-bar-card {
	  background-color: #f0f0f5;
	  border-radius: 25px;
	  bottom: 0;
	  height: 1vh;
	  position: absolute;
	  width: 100%;
	}

	#preparation-bar-inner {
	  background-color: #2962FF;
	  border-radius: 25px;
	  height: 1.5vh;
	  width: 0%;
	}

#preparation-bar-percentage {
	font-size: 1.125em;
	font-weight: 450;
	margin: 1vh 0 0 0;
}

	.preparation-card-countdown {
	  display: none;
	}

	#preparation-cards-body {
		margin: 0 0 10vh 0;
	}

	#preparation-count-popup {
		background-color: #ffffff;
		border-radius: 4px;
		font-size: 1.1em;
		height: 53vh;
		margin: 30vh auto 0 auto;
		width: 80%;
	}

	.preparation-count-popup-text {
		float: left;
		margin: 2.5vh 10vw 0 2vw;
	}

	#preparation-header {
		display: inline-block;
	}

	#preparation-image {
		float: left;
		margin: 2% 0 0 0;
		width: 45%;
	}


.preparation-info-background {
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  padding: 0;
  top: 0;
  width: 100%; 
}


	#preparation-info-card {
		background-color: #ffffff;
		border-radius: 4px;
		font-size: 1.4em;
		height: 35vh;
		margin: 30vh auto 0 auto;
		padding: 5vh 0 0 10vw;
		width: 70%;
		z-index: 1;	
	}

	#preparation-info-container {
		display: inline-block;
		font-size: .8em;
	}

	.preparation-info-icon {
		float: right;
		margin: 0 5vw 0 0;
		width: 6%;
	}

	#preparation-info-image {
		float: left;
		margin: 5vh 0 0 0;
		width: 36%;
	}

	.preparation-info-item {
		margin: 0 0 0 4vw;
	}

	.preparation-info-item.adults {
		color: #2962FF;
		text-decoration: underline;
	}


	#preparation-info-math {
		float: left;
		margin: 5vh 0 0 8vw;
	}

	#preparation-info-title {
		float:left;
		font-size: 1.1em;
	}

.preparation-list-background {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 100;
  position: fixed;
  padding: 0;
  top: 0;
  width: 100%; 
}

.preparation-list {
  background: white;
  border-radius: 15px;
  font-size: 1.5em;
  margin: 2em .5em 0 .5em;
  height: 80%;
  width: 80%;
}

#preparation-score {
	float: left;
	margin: 10vh 0 0 0;
	width: 53%;
}

.preparation-welcome-text {
	line-height: 1.3em;
	padding: 3vh 7vw 1vh 7vw;
}

#prep-list-1-close {
	cursor: pointer;
}

#reg-card-7 {
	display: none;
	opacity: 0;
}

#registration-cards-body {
	margin: 0 0 10vh 0;
}

.registration-florida-health {
	float: left;
	height: 15vh;
	padding: 1vh 0 5vh 8vw;
}

#registration-guarantee {
	float: left;
	padding: 1vh 1vw 3vh 3vw;
	width:50%;
	padding: 1vh 0 2vh 4vw;
}








#registration-message {
	background-color: #ffffff;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.10);
	position: relative;
	width: 100%;
}

#registration-ok-button {
	color: #2962FF;
	float: right;
	padding: 3vh 10vw 0 0;
}

.registration-welcome-image {
	display: block;
	margin: 0 auto 0 auto;
	width: 45%;
}


#registration-welcome-message {
	background-color: #ffffff;
	border-radius: 4px;
	height: 65vh;
	margin: 30vh auto 0 auto;
	width: 94.5%;
}

.registration-welcome-text {
	padding: 2vh 7vw 0 7vw;
}

#registration-welcome-title {
	color: #2962FF;
	font-size: 1.2em;
	padding: 3vh 0 0 7vw;
}

.registration-welcome-text.step {
	color: #2962FF;
	padding: 0 7vw 0 7vw;
}

#share-button {
	height: 60px;
  width: 60px;
}


#share-form {
  margin: 29vh 0 0 70vw;
  position: absolute;
  /*z-index: 2;*/
}


#status-bar {
	width: 100%;
}

#status-bar-evac {
	position: absolute;
	width: 100%;
}


#toggle {
		background-color: #041735;
		border-radius: 50px;
	  height: 5%;
	  margin: 10% 0 0 17%;
	  position: absolute;
	  width: 60%;
}

#toggle-bar {
		background-color: #ffffff;
		border-radius: 50px;
	  height: 100%;
	  position: absolute;
	  width: 50%;
}

.toggle-item {
 display: block;
    font-family: San Francisco Text;
    float: left;
    font-size: 0.9em;
    margin: 3% 10% 0 9%;
    position: relative;
    z-index: 1;
}

.toggle-item.left {
	color: #232752;
	font-weight: 500;
}


.toggle-item.right {
    float: right;
    color: #ffffff;
    font-weight: 500;
}

.subtitle {
	font-size: 1em;
	font-weight: 600;
	margin: 6vh 0 0 3.5vw;
}

#swipe-area {
  	display: flex;
  	position: fixed;
  	height: 100%;
  	margin: 30% 0 0 0;
  	width: 100%;
}

#swipezone{
  width: 80%;
  height: 50vh;
}

#warning-message {
	background-color: #FF004C;
	color: #ffffff;
	height: 7vh;
	line-height: 6.5vh;
	margin: 10vh 0 0 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
}

#warning-message-close {
	color: #ffffff;
	float: right;
	margin: 0 10vw 0 0;
}

#warning-message-text {
	color: #ffffff;
	float: left;
	margin: 0 0 0 10vw;
}


@-webkit-keyframes evac_map_mode {
  100.0000% { -webkit-transform: translate(0.0px, 0.0px) ; }
  00.0000% { -webkit-transform: translate(0.0px, -267.0px) ; }
}


@-webkit-keyframes evac_map_mode_middle_card {
  100.0000% { -webkit-transform: translate(-3.0px, -470.0px) ; }
  23% { -webkit-transform: translate(-15.2px, -480.3px) ; }
  5% { -webkit-transform: translate(-74.2px, -495.2px) ; }
  00.0000% { -webkit-transform: translate(-324.0px, -524.0px) ; }
}


@-webkit-keyframes evac_map_mode_third_card {
  100.0000% { -webkit-transform: translate(-164.0px, -991.0px) ; }
  25.3700% { -webkit-transform: translate(-275.0px, -930.9px) ; }
  6.0000% { -webkit-transform: translate(-664.0px, -780.0px) ; }
}



@-webkit-keyframes evac_list_mode {
  0.0000% { -webkit-transform: translate(0.0px, 0.0px) ; }
  100.0000% { -webkit-transform: translate(0.0px, -267.0px) ; }
}


@-webkit-keyframes evac_list_mode_middle_card {
  0.0000% { -webkit-transform: translate(-3.0px, -470.0px) ; }
  5.0039% { -webkit-transform: translate(-15.2px, -480.3px) ; }
  23.5467% { -webkit-transform: translate(-74.2px, -495.2px) ; }
  100.0000% { -webkit-transform: translate(-324.0px, -524.0px) ; }
}


@-webkit-keyframes evac_list_mode_third_card {
  6.0000% { -webkit-transform: translate(-164.0px, -991.0px) ; }
  25.3700% { -webkit-transform: translate(-275.0px, -930.9px) ; }
  100.0000% { -webkit-transform: translate(-664.0px, -780.0px) ; }
}


  .col-1 {
    width: 8.33%; 
	}

  .col-2 {
    width: 16.66%; 
	}

  .col-3 {
    width: 25%; 
	}

  .col-4 {
    width: 33.33%; 
	}

  .col-5 {
    width: 41.66%; 
	}

  .col-6 {
    width: 50%; 
  }

  .col-7 {
    width: 58.33%; 
  }

  .col-8 {
    width: 66.66%; 
  }

  .col-9 {
    width: 75%; 
  }

  .col-10 {
    width: 83.33%; 
  }

  .col-11 {
    width: 91.66%; 
  }

  .col-12 {
    width: 100%; 
  }

  .offset-1 {
    margin-left: 8.33%; 
  }

  .offset-2 {
    margin-left: 16.67%; 
  }

  .offset-3 {
    margin-left: 25%; 
  }

  .offset-4 {
    margin-left: 33.33%; 
  }

  .offset-5 {
    margin-left: 41.67%; 
  }

  .offset-6 {
    margin-left: 50%; 
  }

  .offset-7 {
    margin-left: 58.33%; 
  }

  .offset-8 {
    margin-left: 66.67%; 
  }

  .offset-9 {
    margin-left: 75%; 
  }

  .offset-10 {
    margin-left: 83.33%; 
  }

  .offset-11 {
    margin-left: 91.67%; 
  }




	 /*For Mobile*/
@media only screen and (max-width: 767px) {

	body {
	  font-family: 'San Francisco Text';
	  font-size: 1.1em;
	  margin: 0;
	 }


}

/* For desktop: */
@media only screen and (min-width: 850px) {

}
